body{
    margin: 25px;
}
.set{
    font-size: 19px;
    width: 90%;
    margin: auto;
}
.hd{
    font-size: 40px;
    font-family: cursive;
    background-color: bisque;
}
.ex img{
    width: 35%;
    height: 35%;
    display: flex;
    margin: auto;
}